# DOCKER
ENV_FILE=.env.dev
BACKEND_IMAGE=

# APPLICATION
APP_NAME=
API_V1_PREFIX=
CORS_ORIGINS=

# APPLICATION POSTGRESQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_URL=
DATABASE_URL=

# REDIS
REDIS_URL=
REDIS_DSN=

# KEYCLOAK CLIENT
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

# KEYCLOAK DATABASE
KEYCLOAK_ADMIN_USER_REALM=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_POSTGRES_DB=
KEYCLOAK_POSTGRES_USER=
KEYCLOAK_POSTGRES_PASSWORD=

# KEYCLOAK SERVER
KC_DB=
KC_DB_URL=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
KC_HTTP_ENABLED=
KC_PROXY_HEADERS=
KC_HOSTNAME=
KC_HOSTNAME_STRICT=

KC_HEALTH_ENABLED=
KC_METRICS_ENABLED=

ROBOT_TICK_INTERVAL=
POSITION_RATE_LIMIT_SEC=
RESCAN_COOLDOWN_SEC=
SCAN_DURATION_SEC=

DB_POOL_SIZE=
DB_MAX_OVERFLOW=
DB_POOL_TIMEOUT=
DB_POOL_PRE_PING=
DB_POOL_RECYCLE_SEC=

USE_REDIS_COORD=
USE_REDIS_STREAMS=
SEND_ROBOT_POSITION=

SCHEDULER_INTERVAL_SEC=
SHIPMENT_ITEM_QTY=
SHIPMENT_NAME_PREFIX=
SHIPMENT_STATUS=

UVICORN_WORKERS=

APP_DOMAIN=
KEYCLOAK_DOMAIN=

BACKEND_IMAGE=
FRONTEND_IMAGE=