# ENVIRONMENT
.env
.env.*

!.env.dev.example
!.env.prod.example


# PYTHON
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/


# TEST / TOOL CACHE
.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
htmlcov/


# FRONTEND
frontend/node_modules/
frontend/dist/
frontend/.vite/


# IDE
.vscode/
.idea/


# OS
.DS_Store


# LOGS
*.log